@font-face {
  font-family: "Blinky Star";
  src:
    url("/fonts/BlinkyStar.woff2") format("woff2"),
    url("/fonts/BlinkyStar.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Single Day";
  src:
    url("/fonts/SingleDay-Regular.woff2") format("woff2"),
    url("/fonts/SingleDay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sniglet";
  src:
    url("/fonts/Sniglet-Regular.woff2") format("woff2"),
    url("/fonts/Sniglet-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
